#container {
    height: 500px;
    width: 100%;
    background-color: coral;
    display: flex;
    flex-wrap: wrap; /*los elementos sean flexibles*/
    justify-content: space-between;
    align-content: flex-start;
}


.box {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    
}



.boxe-a {
    width: 100%; 
    height: 90px;
    background-color: aqua;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;  /*Tamaño letra*/
    font-weight: bold; /*Negrita*/
    margin-bottom: 20px; 
}

.boxes {
    width: 20%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    padding: 10px; /*Espacio texto*/
    background-color: brown;
    margin: 0 10px; /*Espacio solo izq y derecha*/

}

.boxes:nth-child(2) { /*Selecciona el segundo elemento*/
    order: 2; /*Posiciona el elemento*/
    background-color: red;
}

.boxes:nth-child(3) {
    order: 3;
    background-color: darkmagenta;
}

.boxes:nth-child(4) {
    order: 4;
    background-color: darkgreen;
    margin-top: 15px; /*Espacio arriba*/
}

.boxes:nth-child(5) {
    order: 5;
    background-color: deeppink;
    margin-top: 15px;
}

.boxes:nth-child(6) {
    order: 6;
    background-color: blueviolet;
    margin-top: 15px;
}

